@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}


.container {
  position: relative;
  width: 760px;
  height: 760px;
  display: flex;
  background: url('./assets/circles.svg') no-repeat;
  margin: 10px;
}

.main-title {
  position: absolute;
  top: 350px;
  left: 300px;
  text-align: center;
  font-weight: 600;

}

.content {
  cursor: pointer;

  &__title {
    text-align: center;
    text-decoration-line: underline;
  }

  &__subtitle {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
  }

  &--goal {
    position: absolute;
    left: 252px;
    top: 100px;

    &::before {
      content: "\00AB";
      position: absolute;
      font-weight: 600;
      font-size: 28px;
      top: 12px;
      left: -20px;
    }

    &::after {
      content: "\00BB";
      position: absolute;
      font-weight: 600;
      font-size: 28px;
      top: 12px;
      left: 260px;
    }
  }

  &--model {
    position: absolute;
    left: 508px;
    top: 452px;

    &::before {
      content: "\00AB";
      position: absolute;
      font-weight: 600;
      font-size: 28px;
      top: 28px;
      left: -18px;
    }

    &::after {
      content: "\00BB";
      position: absolute;
      font-weight: 600;
      font-size: 28px;
      top: 28px;
      left: 198px;
    }
  }

  &--cycle {
    position: absolute;
    left: 50px;
    top: 477px;

    &::before {
      content: "\00AB";
      position: absolute;
      font-weight: 600;
      font-size: 28px;
      top: 28px;
      left: -18px;
    }

    &::after {
      content: "\00BB";
      position: absolute;
      font-weight: 600;
      font-size: 28px;
      top: 28px;
      left: 184px;
    }
  }
}